<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testng1.Tocall_ITestListner_inteface"></listener>
</listeners>
  <test thread-count="5" name="Test practice">
    <classes>
      <class name="testng1.loginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
